projects.csv
projects_*.csv
*.png
author/
coversheet/
proposals.dat
gbt-report.html

*~
*.pyc
*.egg
*.egg-info
distribute*.t*
python-env
virtualenv.py
cookie.txt
googlechart
template-engine
nraouserdb
in-env
